<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="text/css" rel="stylesheet" href="../View/template/css/style.css">
        <!--[if IE]>
        <link type="text/css" rel="stylesheet" href="template/css/iehack.css">
        <![endif]-->
        <title>:: Fixa Soluções ::</title>
         <script>
		  function enter()
			{
				var tecla=window.event.keyCode;
				if(tecla == 118 || tecla == 42) //voltar
				  location.href = "../Control/pagamentoSegundaParte.php?idLogin={idLogin}";
				if(tecla == 99)//pagina inicial caixa
				  location.href = "../Control/systemCaixa.php?idLogin={idLogin}";  
				
			}
		 </script>

    </head>
    <body onKeyPress="enter()">
        <div id="topo">
            <div class="page">
                <a href="?page=home"><img src="../View/template/img/logo.png" id="logo"></a>
                
            </div>
        </div>
        <div class="bemvindo">
            <div class="page"><div style="float:left; padding-top: 6px;"><b>{nomeLogin}</b> | {horaAtual}</div>
                <ul class="opcoes">
                    <li><a href=""><img src="../View/template/img/opcoes.png" alt="Opções">Opções <img src="../View/template/img/seta2.png" alt="Opções"></a>
                        <ul>
                            <li><a href="{configConta}"><img src="../View/template/img/perfil.png" alt="Perfil">Perfil</a></li>
                            <li><a href="{suporte}"><img src="../View/template/img/suporte.png" alt="Suporte">Suporte</a></li>
                            <li><a href="{sair}"><img src="../View/template/img/sair.png" alt="Sair">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div id="page">
            <div id="left">
                <ul id="menu_left">
                    <li><a href="principal.php?idLogin={idLogin}" ><img src="../View/template/img/home.png" alt="Início">Início</a></li>
                    <li><a href="principal.php?idLogin={idLogin}&pagina=vender"><img src="../View/template/img/vender.png" alt="Vender">Vendas</a></li>
                    <li><a href="principal.php?idLogin={idLogin}&pagina=cobrar"><img src="../View/template/img/cobrar.png" alt="Cobrar">Pagamentos</a></li>
                    <li><a href="principal.php?idLogin={idLogin}&pagina=clientes" ><img src="../View/template/img/clientes.png" alt="Início">Clientes</a></li>
                    <li><a href="principal.php?idLogin={idLogin}&pagina=funcionarios"><img src="../View/template/img/funcionarios.png" alt="Funcionários">Funcionários</a></li>
                    <li><a href="" id="active"><img src="../View/template/img/relatorios.png" alt="Relatórios">Relatórios <img src="../View/template/img/seta2.png" alt="Opções"></a>
                        <ul id="clientes">
                            <li><a href="principal.php?idLogin={idLogin}&pagina=listarClientes">Clientes</a></li>
                            <li><a href="principal.php?idLogin={idLogin}&pagina=listarFuncionarios">Funcionarios</a></li>
                            <li><a href="principal.php?idLogin={idLogin}&pagina=listarCreditos">Creditos</a></li>
                            <li><a href="principal.php?idLogin={idLogin}&pagina=listarDebitos">Debitos Totais</a></li>
                            <li><a href="principal.php?idLogin={idLogin}&pagina=listarDebitosHoje">Debitos Hoje</a></li>
                        </ul>
                    </li>
                </ul>
                <p>{experira}<br>
                    {versao}</p>
	            <div id="anuncio">&nbsp;</div>
            </div>
            <div id="geral">
                <div class="local">
                    <img src="../View/template/img/cobrarMedio.png" style="float:left; margin: 4px;">
                    <h1>Pagamento</h1></div>
                <div style="background:#F8F8F8; display: table; width: 100%;">
                    <p style="float: left; padding: 4px;">
                        <a href="">Inicio</a>
                        <img src="../View/template/img/seta.png" alt="">
                        <strong>Pagamento</strong>
                        <img src="../View/template/img/seta.png" alt=""> Detalhes</p>
                </div>
                <br>
                <div id="{corAlerta}">
                	{imagemAlerta}{menssagemAlerta}
                </div>
				<div style="float:left; width:60%; margin-left:20px;">
                	<h1>{nomeClientes}</h1>
                    <table cellspacing="0" cellpading="0" width="50%">
                        <tr>
                            <th width="15%">ID</th>
                            <th width="25%">Nome</th>
                            <th width="25%">Telefone</th>
                           
                        </tr>
           
                            <tr style="background:#FBD9DC">
                                <td height="40px;">{idClientes}</td>
                                <td class="nome"><center><b>{nome}</b></center></td>
                                <td>{telefone}</td>
                                
                            </tr>
                       
                    </table>
                    <br>
                    <table cellspacing="0" cellpading="0" width="50%">
                        <tr style="background:#FFF">
                            <th width="15%">ID</th>
                            <th width="45%">Valor da Compra</th>
                            <th width="40%">Data da Compra</th>
                        </tr>
                            <!-- BEGIN BLOCK_DETAILSPAG -->
                            <tr class="{corBloco}">                       	
                                <td height="40px;">{idVendas}</td>
                                <td class="nome"><center>{valorCompra}<center></td>
                                <td>{dataCompra}</td>
                            </tr>
                            <!-- END BLOCK_DETAILSPAG -->
                         <tr>
                         	<td style="color:#000">
                         		<h3><center>Total: </center></h3>
                            </td>
                            <td >
                            	<center><span class="vermelho">R$ {totalPagamento}</span></center>
                            </td>
                            <td>
                            	<center><a href="../Control/pagamentoSegundaParte.php?idLogin={idLogin}">Voltar</a></center>
                            </td>
                         </tr>
                    </table>
                    <p style="background:url('../View/template/img/fundo_th.png');">&nbsp;</p>
                    <br>
                </div>
                <div style="float:left; width:35%">
                 	<div style="float:left; margin-left:35px;">
                    	 
                    	
                    </div>
                    
                    
                </div>
                <br>
            </div>
        </div>
        <div id="rodape">Copyright © FixaSolucoes.com.br . Todos os direitos reservados</div>
        <script language="javascript">
		function adicionar(pagina){
		top.location.href = pagina;
		}
		</script>
    </body>
</html>
